%h1
  %span Nezumi
  %em for Android

%img.screenshot{:src => "/images/android.jpg", :alt => "screenshot"}

%a.get-the-app.android{:href => "https://play.google.com/store/apps/details?id=net.cyberstride&feature=search_result#?t=W251bGwsMSwyLDEsIm5ldC5jeWJlcnN0cmlkZSJd"}