%h1
  %span Manage your Heroku apps
  %em on the go.

%img.screenshot{:src => "/images/iphone.jpg", :alt => "screenshot"}

.quote
  %p &#8220;Nezumi brings the power and convenience of Heroku to you, wherever and whenever you need it.&#8221;
  %strong - David Dollar, Developer Experience at Heroku

%a.get-the-app{:href => "/appstore"}

.description
  %ul
    %li
      %h3 Cedar Support
      %p Nezumi fully supports the new Cedar stack. This includes everything from scaling processes to running any one-off process you want. You can also manage any app platform, including Rails, Django, and node.js.
    %li
      %h3 Multiple Accounts
      %p Most users have to manage multiple Heroku accounts, so Nezumi was built around multiple account support. Add and manage as many accounts as you need.
    %li
      %h3 Scale Immediately
      %p Whether your site just hit Hacker News or your background job queue has filled up, Nezumi lets you scale your processes right from your mobile device.
    %li
      %h3 Anytime, Anywhere
      %p Check your logs, scale your processes, and even add collaborators. Nezumi is with you on the go so you can manage you app, no matter where you are.