%h1
  %span Manage your Heroku apps
  %em on the go.

%img.screenshot{:src => "/images/homepage.jpg", :alt => "screenshot"}

.quote
  %p &#8220;Nezumi lets you manage your Heroku apps from a smart phone. Whether it's reading logs, scaling dynos, or just checking in on status, it's one of the most handy mobile apps a developer can have.&#8221;
  %strong - Craig Kerstiens, Product Manager at Heroku

.description
  %ul
    %li
      %a.get-the-app.ios{:href => "/appstore"}
    %li
      %a.get-the-app.android{:href => "https://play.google.com/store/apps/details?id=net.cyberstride&feature=search_result#?t=W251bGwsMSwyLDEsIm5ldC5jeWJlcnN0cmlkZSJd"}

.description
  %ul
    %li
      %h3 Cedar Support
      %p Nezumi fully supports the new Cedar stack. This includes everything from scaling processes to running any one-off process you want. You can also manage any app platform, including Rails, Django, and node.js.
    %li
      %h3 Multiple Accounts
      %p Most users have to manage multiple Heroku accounts, so Nezumi was built around multiple account support. Add and manage as many accounts as you need.
    %li
      %h3 Scale Immediately
      %p Whether your site just hit Hacker News or your background job queue has filled up, Nezumi lets you scale your processes right from your mobile device.
    %li
      %h3 Anytime, Anywhere
      %p Check your logs, scale your processes, and even add collaborators. Nezumi is with you on the go so you can manage you app, no matter where you are.
      
.sites
  %p Look who else is using Nezumi:
  %ul
    %li
      %a{:href => "http://rapportive.com/"}
        %img{:src => "/images/rapportive-small.png", :alt => "Rapportive"}
  %ul
    %li
      %a{:href => "http://lmgtfy.com/"}
        %img{:src => "/images/lmgtfy-small.png", :alt => "lmgtfy"}
  %ul
    %li
      %a{:href => "http://busyconf.com/"}
        %img{:src => "/images/busyconf-small.png", :alt => "BusyConf"}
  %ul
    %li
      %a{:href => "http://momeant.com/"}
        %img{:src => "/images/momeant-small.png", :alt => "Momeant"}
