!!!
%html{html_attrs('en')}
  / Designed and built by David Browning of Two Guys, LLC
  / All content & design copyright 2012 Marshall Huss of StackLogic, LLC
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ name: "Description", "http-equiv" => "Description", content: "Manage your Heroku apps remotely." }
    %meta{ content: 'Nezumi for iPhone', property: 'og:title' }
    %meta{ name: "Keywords", "http-equiv" => "Keywords", content: "nezumi, heroku, iphone, ipad, android" }
    %meta{ name: "google-site-verification", "content" => "2zxQXZX_Jijn-krsC-AVdAh5YWcmkohVxTfbJR1L5XM" }
    %title Nezumi for Heroku
    
    %link{ id: 'favicon', href: '/images/favicon.png', rel: 'icon', type: 'image/x-icon' }
    %link{ href: '/stylesheets/reset.css', rel: 'stylesheet', media: 'screen, projection', type: "text/css" }
    %link{ href: '/stylesheets/styles.css', rel: 'stylesheet', media: 'screen, projection', type: "text/css" }
    %link{ href: 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,900italic', rel: 'stylesheet', media: 'screen, projection', type: "text/css" }
    
    / [if lt IE 9]
      %script{ src: "http://html5shiv.googlecode.com/svn/trunk/html5.js", type: "text/javascript" }
    
    %script{ src: "/javascripts/jquery-1.7.1.min.js", type: "text/javascript"}
    %script{ src: "/javascripts/jquery-ui-1.8.17.min.js", type: "text/javascript"}
    %script{ src: "/javascripts/application.js", type: "text/javascript"}
    
  %body
    
    %header#header
      %a#logo{href: "/"} Nezumi
    
      %nav
        %ul
          %li#iphone.active
            %a{href: "iphone", data: 'iPhone'} iPhone
          %li#ipad
            %a{href: "ipad", data: 'iPad'} iPad
          %li#android
            %a{href: "android", data: 'Android'} Android
          %li#addons
            %a{href: "addons", data: 'Add-Ons'} Add-ons
    
    %section#content
      #content-inner
        = yield
    
    %footer#footer
      #twitter
        #who
          %a{href: "http://twitter.com/nezumiapp"} nezumiapp
        #what 
          = @twitter_text
            
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f35ebf0613f5d21e9000023');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();